<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <!-- コンソールアペンダーの設定 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) %magenta(%X{akkaSource}) %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- 非同期アペンダーの設定 -->
  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <!-- 各種ログ -->
  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />
  <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG" />

  <!-- ルートloggerの設定 -->
  <root level="WARN">
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
